@import "../base/variables";

header {
  position: sticky;
  top: 0;
  z-index: 1;
  nav {
    div {
      a {
        .menu-logo {
          border-radius: 50%;
          max-width: 35%;
          max-height: 35%;
        }
      }
      button {
      }
      div {
        ul {
          .nav-item {
            margin: 0px 15px 0 15px;
            padding: 0px 5px 0px 5px;
            transition: all 200ms;
            &:hover {
              transform: scale(1.2);
              color: $color-primero;
              @media only screen and (max-width: 768px) {
                transform: scale(1.02);
              }
            }
            a {
            }
          }
        }
      }
    }
  }
}
